span[data-hashtag] {
  color: {theme="link"};
  font-weight: bold;
}

span[data-hashtag]:hover {
  color: {theme="link_hover"};
  cursor: pointer;
}

.cHashtag_horizontal {
  padding: 10px 20px;
}

.cHashtag_horizontal:not(:last-child) {
  border-right: 1px solid #eee;
}

div[data-role="editor"] span[data-hashtag] {
  cursor: inherit;
  color: inherit;
  font-weight: inherit;
}

div[data-role="editor"] span[data-hashtag]:hover {
  color: inherit;
}